In [ ]:
from sqlalchemy import and_, or_

result = session.query(PprCleanAll).filter(and_(PprCleanAll.date_of_sale >= "2021-01-01", PprCleanAll.date_of_sale <= "2021-01-31")).all()

print("First row address:", result[0].address)

In [ ]:
from sqlalchemy import or_

result = session.query(PprCleanAll) \
                .filter(or_(PprCleanAll.county == "dublin", PprCleanAll.county == "cork")) \
                .all()

print("First row address:", result[0].address)a

In [2]:
from sqlalchemy import  func
func.a

In [9]:
from matplotlib import pyplot as plt
import pandas as pd

In [17]:
data = pd.read_csv(r'.\\data\\raw\downloaded_at=2021-02-01\\ppr-all.csv', encoding='windows-1252')

In [18]:
data.head()

,date_of_sale,address,postal_code,county,price,description
0,01/12/2020,"106 ST MOBHI RD, GLASNEVIN, DUBLIN 11",Dublin 9,Dublin,"€565,000.00",Second-Hand Dwelling house /Apartment
1,01/12/2020,"106 WESTON VIEW, BALLINREA RD, CARRIGALINE",NaN,Cork,"€115,500.00",Second-Hand Dwelling house /Apartment
2,01/12/2020,"107 LESLIES ARCH, THE OLD QUARTER, BALLINCOLLIG",NaN,Cork,"€326,000.00",Second-Hand Dwelling house /Apartment
3,01/12/2020,"108 ADAMSTOWN AVE, LUCAN, DUBLIN",NaN,Dublin,"€281,000.00",Second-Hand Dwelling house /Apartment
4,01/12/2020,"11 Cois na hAbhann, Newtown Road, Wexford",NaN,Wexford,"€296,917.00",New Dwelling house /Apartment